@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html {
	font-size: 100%;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Red Hat Display', sans-serif;
	background: hsl(225, 100%, 94%);
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

.container {
	background: #fff;
	width: 90%;
	max-width: 400px;
	margin: 2em auto;
	border-radius: 10px;
	overflow: hidden;
}

.main {
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	margin: 0.5em 0;
	color: hsl(223, 47%, 23%);
}

.subtitle {
	text-align: center;
	margin-bottom: 1.5em;
	color: hsl(224, 23%, 55%);
	line-height: 1.6;
	max-width: 25ch;
	margin-left: auto;
	margin-right: auto;
}

.plan-container {
	display: flex;
	gap: 2em;
	align-items: center;
	margin-bottom: 2em;
	background: hsl(225, 100%, 98%);
	border-radius: 10px;
	padding: 1em;
}

.icon {
	width: 45px;
}

.change {
	text-decoration: underline;
}

.time {
	margin: 0;
	font-size: 1rem;
	color: hsl(223, 47%, 23%);
}

.price {
	color: hsl(224, 23%, 55%);
}

.btn-group {
	display: flex;
	gap: 0.8em;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn {
	padding: 0.8em 4em;
	font-weight: 700;
}

.btn-primary {
	background: hsl(245, 75%, 52%);
	color: #fff;
	border-radius: 10px;
}

.btn-secondary {
	color: hsl(224, 23%, 55%);
}
